.welcome-message {
    text-align: center; /* Centra el texto horizontalmente */
    margin: 20px auto; /* Margen superior e inferior, centrado horizontalmente */
    font-size: 1.5rem; /* Tamaño del texto reducido */
    color: #FF5733; /* Color del texto naranja */
    font-weight: bold; /* Texto en negrita */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8); /* Sombra más pronunciada */
    padding: 15px; /* Espacio alrededor del texto */
    background-color: #0073cc; /* Fondo color crema */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Sombra alrededor */
}
